button {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

button:hover,
button:active {
    background: rgba(255, 255, 255, 0.6);
    color: black;
}